<!DOCTYPE html>
<html lang="ro">

<head>
    <meta name="description"
        content="Magazin de jucarii, masinute, papusi. Transport Gratuit la comenzi de peste 50 de lei.">
    <meta name="keywords" content="Lego, Noriel, Jucarii,Carti">
    <title>Magazin de jucarii - eroare</title>
    <link rel="stylesheet" type="text/css" href="./resurse/CSS/eroare.css">
    <%- include("../fragmente/head.ejs"); %>


</head>

<body>
    <div id="header">
        <%- include("../fragmente/header.ejs"); %>
    </div>

    <main>
        <div id="err-coloane">
            <div id="err-imag">
                <img src="<%- locals.imagine %>" />

                <section>
                    <h2><%- locals.titlu %></h2>

                    <p><br><br><%- locals.text %></p>
                </section>

    </main>
    <div id="footer">
        <%- include("../fragmente/footer.ejs"); %>
    </div>


</body>

</html>