<!DOCTYPE html>
<html lang="ro">

<head>

    <%- include("../fragmente/head.ejs")%>
        <meta name="keywords" content="Lego, Noriel, Jucarii,Carti ">
        <meta name="description"
            content="Magazin de jucarii, masinute, papusi. Transport Gratuit la comenzi de peste 50 de lei.">
</head>

<body>
    <%- include("../fragmente/header.ejs")%>
        <main>
            <div id="grid-pagina">
                <section id="welcome">
                    <h2> Bine ați venit!</h2>

                    <section id="videoid">
                        <video id="videoVTT" width="320" height="240" controls autoplay muted loop>
                            <source src="./resurse/video/clip.mp4" type="video/mp4">
                            <source src="./resurse/video/clip.ogv" type="video/mp4">
                            <track default src="./resurse/sub/ro.vtt" kind="captions" srclang="ro" label="romana">
                            <track src="./resurse/sub/en.vtt" kind="captions" srclang="en" label="engleza">

                            <p>
                                Browserul nu suporta varianta video, uite un link catre
                                <a href="./resurse/video/clip.mp4">video.</a>

                            </p>
                        </video>
                        <%- include("../fragmente/formular-login.ejs", {utilizator:locals.utilizator,
                            mesaj:locals.mesajLogin} ) %>

                            <p>IP: <%-locals.ip %></p>
                            <button type="button" class="btn btn-primary btn-lg">Stil-1-mare</button>
                    </section>
                    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
                    <script id="MathJax-script"
                        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML"></script>
                    <section id="galerie-statica">
                        <div id="grid-galerie">
                            <% var
                                vLuni=["ianuare","februarie","martie","aprilie","mai","iunie","iulie","august","septembrie","octombrie","noiembrie","decembrie"];
                                var d=new Date(); var luna_cur=vLuni[d.getMonth()]; for (let imag of locals.imagini){
                                if( imag?.luni?.includes(luna_cur)){ %>

                                <figure>
                                    <picture>



                                        <source id="fig3" srcset="<%=imag.fisier_mediu %> " // //
                                            media="(max-width:1200px)" />

                                        <img src="<%=imag.fisier %> " alt="jucarii">

                                    </picture>
                                    <figcaption>
                                        <%= imag.descriere%>
                                    </figcaption>
                                </figure>

                                <% } %>
                                    <% } %>


                        </div>



                    </section>
                    <hr>
                    <p>
                        <b>Magazinul nostru de jucării</b> vă întâmpină cu o varietate incredibilă de produse,
                        perfecte
                        pentru a
                        aduce bucurie și entuziasm în viața copiilor dvs. Avem o selecție vastă de jucării
                        educative,
                        puzzle-uri
                        captivante și seturi de construcție LEGO care stimulează imaginația și dezvoltă abilitățile
                        cognitive
                        ale copiilor.
                        <abbr title="Jucarioare.com">Noi</abbr> ne străduim să oferim cele mai bune produse și
                        servicii
                        clienților noștri, iar experiența de cumpărături este simplă și plăcută. Beneficiați de
                        transport
                        gratuit pentru comenzile de peste 50 de lei și de promoții periodice care vă permit să
                        economisiți
                        în
                        timp ce vă bucurați de achiziții excelente pentru cei mici.
                    </p>

                    <p>
                        Ne mândrim cu gama noastră variată de produse de înaltă calitate, care sunt sigure și
                        conforme
                        cu
                        cele
                        mai
                        înalte standarde. De la păpuși adorabile și mașinuțe interactive până la jocuri de
                        construcție
                        complexe,
                        avem tot ce aveți nevoie pentru a transforma copilăria într-o aventură plină de distracție
                        și
                        învățare.
                    </p>
                    <p>
                        Nu uitați să verificați această pagină în mod regulat pentru a fi la curent cu cele mai
                        recente
                        promoții și oferte speciale. Suntem dedicați să vă aducem cele mai bune produse la cele mai
                        bune
                        prețuri!
                    </p>

                    <div class="container-iframe">
                        <div class="taburi-iframe">
                            <a id="iframe1" href="https://www.youtube.com/embed/_UKbllLOr44?si=uDx9-fKKjP0YFWQt"
                                target="ifr-video">LEGO
                                Mario </a>
                            <a id="iframe2" href="https://www.youtube.com/embed/bNpUk6b0h1k?si=7h0beNQiGCbLVOgl"
                                target="ifr-video">Piranha
                            </a>
                            <a id="iframe3" href="https://www.youtube.com/embed/l6bfH7uViJE?si=aNLRUOkg4FkXXtt4"
                                target="ifr-video">Jenga</a>
                        </div>

                        <iframe id="ifr-video" name="ifr-video" width="560" height="315"
                            src="https://www.youtube.com/embed/neuhymR1dlA?si=g7nsKhWHFs5-w5F-"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>


                </section>

                <section>
                    <div id="prezentare">
                        <figure>
                            <picture>
                                <figure>
                                    <source id="fig2" srcset="./resurse/imagini/casa2.jpg" media="(max-width:700px)" />

                                </figure>

                                <figure>
                                    <source id="fig3" srcset="./resurse/imagini/casa1.jpg" media="(max-width:1200px)" />

                                </figure>

                                <figure>
                                    <img id="fig1" src="./resurse/imagini/casa.jpg" alt="Imagini cu jucării"
                                        title="jucarie" />
                                    <figcaption>Jucarie 1</figcaption>
                                </figure>
                            </picture>
                            <figcaption>Descoperiți jucăriile noastre pentru copii</figcaption>
                        </figure>
                    </div>
                </section>

                <section id="Promotii">
                    <h2>Promoții</h2>

                    <p>
                        <strong>Descoperă ofertele noastre speciale!</strong> La Magazinul de Jucării, ne bucurăm să
                        aducem
                        zâmbete pe fețele copiilor și să oferim experiențe de cumpărături pline de bucurie pentru
                        părinți.
                        Iată câteva dintre promoțiile noastre curente:
                    </p>

                    <section id="Oferte_de_primavara">
                        <div id="oferte-primavara">
                            <article>
                                <h3>Oferte de Primăvară</h3>

                                <p>
                                    În acest sezon al renasterii, aducem o mulțime de oferte captivante pentru a aduce
                                    bucurie în
                                    viața copiilor tăi. Bucură-te de reduceri de până la <s>20% </s> <ins>30%</ins>
                                    adică de
                                    exemplu dacă prețul inițial al prodului era de 100 de lei atunci produsul va avea
                                    prețul
                                    de
                                </p>
                                <math class="calcul" xmlns="http://www.w3.org/1998/Math/MathML">
                                    <mrow>
                                        <mn class="numere">100</mn>
                                        <mo class="operator">-</mo>
                                        <mn class="numere">30</mn>
                                        <mo class="procent">%</mo>
                                        <mn class="numere">100</mn>
                                        <mo class="egal">=</mo>
                                        <mn class="numere">70</mn>
                                    </mrow>
                                </math>
                                <p> la o
                                    selecție largă de
                                    jucării
                                    educative, puzzle-uri colorate și seturi de construcție LEGO. Profitați de aceste
                                    oferte
                                    limitate în timp!

                                </p>
                            </article>
                        </div>
                    </section>
                    <hr>
                    <section id="Pasti">
                        <h3>Vânzarea de Paști</h3>
                        <p>
                            În pregătirea pentru sărbătoarea Paștelui, vă așteptăm cu reduceri exclusive pentru a
                            face
                            cadouri de neuitat copiilor dvs. Descoperiți ofertele noastre speciale pentru păpuși
                            adorabile,
                            mașinuțe interactive și multe altele. În plus, toate comenzile de peste 100 de lei
                            beneficiază
                            de transport gratuit!

                        </p>
                    </section>
                    <hr>
                    <section id="Abonati">

                        <h3>Promoții pentru Abonați</h3>

                        <p>
                            Sunteți abonat la newsletter-ul nostru? Dacă nu, este momentul perfect să vă alăturați!
                            Abonații
                            noștri primesc promoții exclusive și reduceri speciale. Nu
                            ratați
                            ocazia de a fi la curent cu cele mai recente oferte!
                        </p>

                        <picture>
                            <div id="container-duotone">
                                <img src="resurse/imagini/piese.jpg">
                            </div>

                        </picture>
                    </section>
                    <hr>
                </section>




                <section id="orar">
                    <h2>Orar</h2>

                    <table id="tab-orar">
                        <thead>
                            <tr>
                                <th>Cod</th>
                                <th>Perioadă</th>
                                <th>Zi</th>
                                <th>Interval dimineata</th>
                                <th>Pauza de masa</th>
                                <th>Interval seară</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td rowspan="5">Zile<br />Lucrătoare</td>
                                <td>Luni</td>
                                <td>10-12</td>
                                <td>12-14</td>
                                <td>14-20</td>
                            </tr>
                            <tr>
                                <td></td>

                                <td>Marti</td>
                                <td>9-12</td>
                                <td>12-14</td>
                                <td>14-21</td>
                            </tr>
                            <tr>
                                <td></td>

                                <td>Miercuri</td>
                                <td>9-11</td>
                                <td>11-13</td>
                                <td>14-21</td>
                            </tr>
                            <tr>
                                <td></td>

                                <td>Joi</td>
                                <td>9-11</td>
                                <td>11-13</td>
                                <td>14-21</td>
                            </tr>
                            <tr>
                                <td></td>

                                <td>Vineri</td>
                                <td>9-12</td>
                                <td>12-14</td>
                                <td>14-19</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td rowspan="2">Weekend</td>
                                <td>Sambata</td>
                                <td>10-12</td>
                                <td>12-13</td>
                                <td>13-16</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Duminica</td>
                                <td>10-14</td>
                                <td>-</td>
                                <td>inchis</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="6">Închis cu ocazia sărbătorilor legale sau când ne e mai lene așa.</td>
                            </tr>
                        </tfoot>
                    </table>
                    <hr>
                </section>
                <section id="utilizatori">
                    <h2>Utilizatori</h2>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                        type
                        and scrambled it to make a type specimen book. It has survived not only five centuries, but also
                        the
                        leap into electronic typesetting, remaining essentially unchanged. It was popularised in the
                        1960s
                        with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
                        desktop
                        publishing software like Aldus PageMaker including versions of Lorem Ipsum
                    </p>
                </section>

                <section id="evenimente">
                    <h2 id="text">Evenimente</h2>
                    <h2 id="text-reflectat">Evenimente</h2>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                        type
                        and scrambled it to make a type specimen book. It has survived not only five centuries, but also
                        the
                        leap into electronic typesetting, remaining essentially unchanged. It was popularised in the
                        1960s
                        with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
                        desktop
                        publishing software like Aldus PageMaker including versions of Lorem IpsumLorem Ipsum is simply
                        dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                        standard
                        dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
                        to
                        make a type specimen book. It has survived not only five centuries, but also the leap into
                        electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with
                        the
                        release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                        publishing software like Aldus PageMaker including versions of Lorem Ipsum
                    </p>
                </section>

                <section id="anunturi">
                    <h2>Anunturi</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                        type
                        and scrambled it to make a type specimen book. It has survived not only five centuries, but also
                        the
                        leap into electronic typesetting, remaining essentially unchanged. It was popularised in the
                        1960s
                        with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
                        desktop
                        publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
                </section>

                <section id="utilizator_statistica">
                    <h2>Utilizator-Statistica</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the
                        industry's standard dummy text ever since the</p>
                </section>

                <section id="date_site">
                    <h2>Date-Site</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                        type
                        and scrambled it to make a type specimen book. It has survived not only five centuries, but also
                        the
                        leap into electronic typesetting, remaining essentially unchanged. It was popularised in the
                        1960s
                        with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
                        desktop
                        publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
                </section>

                <section id="intrebari_frecvente">
                    <h3>Întrebări frecvente</h3>
                    <details>
                        <summary>Transportul este gratuit?</summary>
                        <p>Da, dacă comanda este de peste 50 de lei!</p>
                        <p>Dacă comanda nu depășește 50 de lei atunci prețul transportului este de 10 lei</p>

                    </details>
                    <details>
                        <summary> pot fi oferite copiilor sub vârsta de 3 ani?</summary>
                        <p>Da, există o întreaga categorie de jucării pentru copiii pana în 3 ani!</p>
                    </details>
                    <details>
                        <summary>Jucăriile dezvoltă abilități motrice(de mișcare)?</summary>
                        <p>avem jucării care îți dezvoltă abilitățile motrice, cuma ar fi twister</p>
                    </details>
                    <details>
                        <summary>Aveți jucării care îl învață pe copil să lucreze în echipă?</summary>
                        <p>Da, avem și aceste tipuri de jocuri, inclusiv mingi de volei, baschet, fotbal.</p>
                    </details>


                </section>
            </div>

        </main>
        <%- include("../fragmente/footer.ejs")%>
</body>

</html>